.pre-tag-text-field {
  margin-left: 5%;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  background:#F6F8FA;
  border-radius: 5px;
  border: 1px solid rgb(220, 221, 223);
}

.pre-tag-text-field > code {
  color: rgb(90, 78, 250);
}

summary > .filename {
  color: rgb(18, 192, 163);
  font-weight: 600;
}